/*--------------------------------------
This file contains all typographic styles
in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 GENERAL
2.0 HEADINGS
3.0 BODY TEXT
4.0 LISTS
5.0 INLINE STYLES
6.0 ALERTS
/--------------------------------------*/


// 1.0 GENERAL
body {
  font-family: $typography__font-stack--system;
  line-height: 1.2em;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

header {
  text-align: center;
}

a {
  &:focus {
  }
}

.tags {
  text-transform: uppercase;
  font-size: $typography__body--small;
}

// BUTTONS
button, .button {
  text-transform: uppercase;
}
.tiny.button {
  font-size: ms(-1);
}
.large.button {
  font-size: ms(2);
}


// 2.0 HEADINGS
.heading--mega {
  font-size: $typography__heading--mega;
  line-height: ms(1);
}
.heading--jumbo {
  font-size: $typography__heading--jumbo;
  line-height: ms(1);
}
.heading--display {
  font-size: $typography__heading--display;
  line-height: ms(1);
}
.heading--headline {
  font-size: $typography__heading--headline;
  line-height: ms(1);
}
.heading--title {
  font-size: $typography__heading--title;
  line-height: ms(2);
}
.heading--subheader {
  font-size: $typography__heading--subheader;
  line-height: ms(1);
  text-transform: uppercase;
  font-weight: bold;
}

// 3.0 BODY TEXT
p {
  font-size: $typography__body--bodycopy;
}
small {
  font-size: $typography__body--small;
  line-height: -ms(1);
}
blockquote {
  font-size: $typography__heading--subheader;
  font-style: italic;
}
time {
  font-size: $typography__body--caption;
}
figcaption {
  font-size: $typography__body--caption;
  font-style: italic;
}

// 4.0 LISTS
dt {
  font-weight: bold;
}
.timeline {
  text-align: center;
  text-transform: uppercase;
}

// 5.0 INLINE STYLES
strong {
}
em {
}

// 6.0 NAVIGATION
.logo {
  text-align: left;
}

.submenu div li {
  font-size: $typography__body--caption;
}
.submenu {
  text-align: left;
}

.card {
  small {
    text-transform: uppercase;
  }
  p {
    font-size: ms(1);
  }
}
