/*--------------------------------------
This file contains all variables in use
throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 TYPOGRAPHY
2.0 LAYOUT
3.0 COLOR
4.0 BREAKPOINTS
/--------------------------------------*/

// 1.0 TYPOGRAPHY
//Modular Scale
$ms-base: .8em;
$ms-ratio: 1.333;

$typography__font-stack--system: 'open sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$typography__heading--mega: ms(6);
$typography__heading--jumbo: ms(5);
$typography__heading--display: ms(4);
$typography__heading--headline: ms(3);
$typography__heading--title: ms(2);
$typography__heading--subheader: ms(1);
$typography__body--bodycopy: ms(1);
$typography__body--caption: ms(1);
$typography__body--small: ms(-1);

// 2.0 LAYOUT

$susy: (
  columns: 12,
  container: 1200px,
  gutters: 1/12,
  global-box-sizing: border-box,
  debug: (image: show)
);

$layout__border-radius: 4px;

// 3.0 COLOR
$color__brand-primary: #465A63;
$color__brand-primary--light: lighten($color__brand-primary, 20%);
$color__brand-primary--dark: darken($color__brand-primary, 10%);

$color__brand-accent: #5000A8;

$color__text--primary: #212121;
$color__text--secondary: #757575;
$color__text--reverse: #F8F8F8;

$color__background: $color__brand-primary;
$color__borders: #E2E2E2;

$color__link--active: $color__brand-accent;
$color__link--hover: darken($color__link--active, 30%);

$color__valid: #03804d;
$color__alert: inherit;
$color__alert-background: #f7f9f9;
$color__error: #b12a0b;
$color__error-background: #fdded8;
$color__success: #03804d;
$color__success-background: #d4f3e6;
$color__warning: #a59b15;
$color__warning-background: #fffecf;
$color__information: #0192d0;
$color__information-background: #d3f2ff;

// 4.0 BREAKPOINTS
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

 }
}
