/*--------------------------------------
This file contains all variables in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 typography
2.0 layout
3.0 color
4.0 timing
/--------------------------------------*/


$color__text: #000000;
$color__link--active: #000000;
$color__link--hover: #000000;

$color__brand--primary: #000000;
$color__brand--secondary: #000000;

$color__valid: #03804d;
$color__alert: inherit;
$color__alert-background: #f7f9f9;
$color__error: #b12a0b;
$color__error-background: #fdded8;
$color__success: #03804d;
$color__success-background: #d4f3e6;
$color__warning: #a59b15;
$color__warning-background: #fffecf;
$color__information: #0192d0;
$color__information-background: #d3f2ff;
