/*--------------------------------------
This file contains all typographic styles
in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 GENERAL
2.0 HEADINGS
3.0 BODY TEXT
4.0 LISTS
5.0 INLINE STYLES
6.0 ALERTS
/--------------------------------------*/


// 1.0 GENERAL
body {
  font-family: $typography__font-stack--system;
  font-size: $typography__body;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

.body--bodycopy {
  font-size: $typography__body;
}

a {
  text-decoration: none;
  &:focus {
  }
}

nav a {
  text-decoration: none;
}

.tags {
  text-transform: uppercase;
  font-size: $typography__tiny;
}

// BUTTONS
button, .button {
  text-transform: uppercase;
}
.tiny.button {
  font-size: $typography__tiny;
}
.large.button {
  font-size: $typography__tiny;
}


// 2.0 BASE SIZES

.heading--title {
  font-size: $typography__title;
}
.heading--headline {
  font-size: $typography__headline;
  line-height: ms(1);
  span {
    font-weight: lighter;
  }
}
p {
  font-size: $typography__body;
}
small, .heading--small {
  font-size: $typography__small;
  line-height: -ms(1);
}
.heading--header {
  font-size: $typography__header;
  line-height: ms(1);
  text-transform: uppercase;
  font-weight: bold;
}
.heading--subheader {
  font-size: $typography__subheader;
  line-height: ms(1);
  text-transform: uppercase;
}
.tiny {
  font-size: $typography__tiny;
}

// 3.0 BODY TEXT


blockquote {
  font-size: $typography__headline;
  font-style: italic;
}
time {
  font-size: $typography__subheader;
}
figcaption {
  font-size: $typography__small;
  font-style: italic;
}

// 4.0 LISTS

.timeline {
  text-align: center;
  text-transform: uppercase;
}

// 5.0 INLINE STYLES
.card {
  small {
    text-transform: uppercase;
  }
}

.panel span, .list-array span {
  text-align: right;
}

.panel {
  &-heading {
      margin-bottom: ms(-1);
      p {
         margin-bottom: 0;
      }
  }
}

footer {
  text-align: center;
}
