/*--------------------------------------
This file contains all color styles
in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 GENERAL
2.0 ALERTS
3.0 NAVIGATION
/--------------------------------------*/

.color__brand-primary {
  background: $color__brand-primary;
}
.color__brand-primary--light {
  background: $color__brand-primary--light;
}
.color__brand-primary--dark {
  background: $color__brand-primary--dark;
}
.color__brand-accent {
  background: $color__brand-accent;
}
.color__text--primary {
  background: $color__text--primary;
}
.color__text--secondary {
  background: $color__text--secondary;
}
.color__borders {
  background: $color__borders;
}


// 1.0 GENERAL

a {
  color: $color__link--active;
  &:hover, &:focus {
    color:$color__link--hover;
  }
}

blockquote {
  color: $color__text--primary;
}

.submenu {
  background:$color__text--primary;
  box-shadow:0 0 1px $color__borders;
  & li a {
    color:$color__link--active;
  }
}

header {
  ul#menu {
    background: $color__brand-primary;
    color: $color__text--reverse;
  }
  ul.submenu {
    background: $color__brand-primary;
    //box-shadow:0 0 1px rgba(0,0,0,.3);
    & li a {
      color: $color__text--reverse;
    }
  }
}
// 2.0 ALERTS
.alert {
  background: $color__alert-background;
  & a {
    color: inherit;
  }
  &-valid {
    color: $color__valid;
  }
  &--error {
    color: $color__error;
    background: $color__error-background;
  }
  &--success {
    color: $color__success;
    background: $color__success-background;
  }
  &--warning {
    color: $color__warning;
    background: $color__warning-background;
  }
  &--information {
    color: $color__information;
    background: $color__information-background;
  }
}

// 3.0 NAVIGATION
header {
  label:after{
    border-top:4px solid $color__text--reverse;
    border-bottom:0 solid $color__text--reverse;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    }
  label:hover, input:checked ~ label {
    background:$color__brand-primary--dark;
  }
  input:checked ~ label:after{
    border-top:0 solid $color__text--reverse;
    border-bottom:4px solid $color__text--reverse;
  }
}

/*style for the second level menu*/
ul.submenu{
  div li a, li a {
    &:hover{
      background: $color__brand-primary--dark;
    }
  }
}

.panel{
  //border: 1px solid $color__borders;
}
.card, .timeline-item {
  border: 1px solid $color__borders;
}

.inactive {
  color: lighten($color__text--secondary, 10%);
  background-color: lighten($color__text--secondary, 40%);
  border: 1px solid lighten($color__text--secondary, 30%);
}
.active {
  color: $color__text--reverse;
  background-color: $color__text--secondary;
  border: 1px solid $color__text--secondary;
}
.future {
  color: lighten($color__text--secondary, 30%);
  background-color: $color__text--reverse;
  border: 1px solid lighten($color__text--secondary, 30%);
}
