/*--------------------------------------
This file contains all layout styles
in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 GENERAL
2.0 NAVIGATION
3.0 BUTTONS
4.0 PANELS & CARDS
5.0 MODALS
6.0 COMMENTS
/--------------------------------------*/


// 1.0 GENERAL
main {
  padding: ms(1);
  header {
      margin: ms(2) auto ms(2);
      max-width: ms(14);
      p {
        margin-bottom: 0;
        margin-top: ms(1);
      }
      h1 {
        margin: 0;
      }
    }
}

figure {
  margin-bottom: ms(1);
  & img {
    margin-bottom: 0.5em;
  }
}

.tags {
  ul {
    li {
      float: left;
      //padding: ms(1) 0 ms(1) 0em;
      &:after {
        content: '|';
        padding-left: ms(1);
        padding-right: ms(1);
      }
    }
  }
}

li {
  list-style: none;
}

// 2.0 BUTTONS
button, .button {
  border-radius: $layout__border-radius;
  padding: ms(1);
  border: 1px solid;
}

.tiny.button {
  padding: ms(-2) ms(1);
}
.small.button {
  padding: ms(-1) ms(1);
}
.large.button {
  padding: ms(1) ms(2);
}

.upvote {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 50px;
}
.downvote {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  width: 50px;
}
.voting-module {
  width: 50px;
}

.add-button, .close-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


// 3.0 NAVIGATION
/*Style for the first level menu bar*/
header {
  ul#menu {
    //position:fixed;
    //top:0;
    width:100%;
    height:3em;
    margin:0;
    padding:0 10px;
}

  ul#menu > li{
    list-style-type:none;
    position:relative;
  }

  .logo {
    @include span(3 of 12);
  }
  label, .logo {
    padding:0 18px 0 12px;
    line-height:3em;
    cursor:pointer;
  }

  label:after{
    content:"";
    position:absolute;
    display:block;
    top: 25px;
    right:5px;
    width:0;
    height:0;
    }

  /*hide the inputs*/
  input {
    display: none;
  }

  /*show the second levele menu of the selected voice*/
  input:checked ~ ul.submenu{
    max-height:3000px;
  }
}
.bar {
  @include span(6 of 12);
}
.user-menu {
  @include span(3 of 12);
  float: right;
  max-width: 240px;
  margin-right: 0;
  figure {
    //position: fixed;
    margin-top: -38px;
    margin-left: 10px;
    border-radius: 50px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    img {
      width: 30px;
    }
  }
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding: 0;
  overflow: hidden;
  list-style-type:none;
  //position:absolute;
  min-width:240px;
  div li a, li a {
    display:block;
    text-decoration:none;
    //white-space:nowrap;
  }
  li a, h1 {
    padding: 12px;
  }
  div li a {
    padding: ms(-1) ms(1);
  }
}

// 4.0 PANELS & CARDS



.conversation-container {
  padding: ms(1);
  border-radius: $layout__border-radius;
  h1 {
    width: 100%;
  }
}

.card {
  padding: ms(1);
  border-radius: $layout__border-radius;
  @include clearfix;
  margin-bottom: ms(-1);
  h1 {
    margin: 0 0 ms(-2) 0;
    @include span(12 of 12);
  }
}
.main {
  @include span(3 of 4);
}
.action {
  float: right;
}
.tags {
  @include span(1 of 1);
}

.timeline {
  &-item {
    @include gallery(1 of 4);
    padding: ms(1);
    border-radius: $layout__border-radius;
  }
}

// 5.0 MODALS
.modal {
  margin: ms(2) auto;
  max-width: 60em;
  .close-button {
    margin-bottom: ms(1);
  }
}

// 6.0 COMMENTS
.comment-meta {
  @include span(10 of 12);
  @include clearfix;
  h1 {
    margin: ms(-1) 0;
  }
  h2 {
    @include span(12 of 12);
    padding-bottom: ms(2);
  }
  img {
    @include span(1 of 12);
    max-width: ms(2);
  }
  h4 {
    @include span(6 of 12);
    margin-left: ms(-1);
  }
}
.comment-text {
  @include span(10 of 12);
  p {
    margin-top: ms(-1);
  }
}
.comment-voting {
  float: right;
}
.comment-reply-controls {
  @include span(12 of 12);
  a.reply-count {
    margin-top: ms(2);
  }
  button.reply, a.reply {
    float: right;
  }
}

.comment-form {
  //padding: ms(1);
  margin: ms(1);
  label {
    padding: ms(1) 0;
  }
  .comment-meta {
    @include span(9 of 12);
  }
  input {
    @include span(3 of 12);
    float: right;
  }
}

.threaded-comments {
  @include span(12 of 12);
  margin-left: ms(2);
}

// temp styles
.panel {
  //border: 1px dotted blue;
  min-height: 50px;
  max-width: 55em;
  margin: 0 auto;
  padding: ms(2);
  @include clearfix;
  h1 {
    margin-bottom: ms(-1);
    & span {
      padding-left: ms(2);
    }
  }
}
.ideas-and-proposals section, .activity-and-members section, .text-created-attachments-similar section {
  @include breakpoint(phablet) {
    @include gallery(3 of 6);
  }
}

.member-card {
  max-width: 250px;
  border-bottom: 1px solid $color__borders;
  margin: ms(-1) 0;
  @include display-flex;
  @include justify-content(space-between);
  figure {
    border-radius: 60px;
    overflow: hidden;
    max-width: 50px;
    height: 50px;
    flex-grow: 0;
    margin: ms(-2) 0;
    img {
      width: 50px;
    }
  }
  .user-name {
    margin: ms(1) ms(1);
    flex-grow: 4;
  }
  .more-menu {
    max-width: 4px;
    flex-grow: 2;
  }
}
