/*--------------------------------------
This file contains all layout styles
in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 GENERAL
2.0 NAVIGATION
3.0 GRID
/--------------------------------------*/


// 1.0 GENERAL
figure {
  margin-bottom: 1em;
  & img {
    margin-bottom: 0.5em;
  }
}


// 2.0 FLEXBOX GRID
.row {
  @include display-flex;
  @include justify-content(space-around);
}
.column, .columns {
  @include flex-grow(1);
  &-1 {
    @include flex-grow(1);
  }
  &-2 {
    @include flex-grow(2);
  }
  &-3 {
    @include flex-grow(3);
  }
  &-4 {
    @include flex-grow(4);
  }
  &-5 {
    @include flex-grow(5);
  }
  &-6 {
    @include flex-grow(6);
  }
  &-7 {
    @include flex-grow(7);
  }
  &-8 {
    @include flex-grow(8);
  }
  &-9 {
    @include flex-grow(9);
  }
  &-10 {
    @include flex-grow(10);
  }
  &-11 {
    @include flex-grow(11);
  }
  &-12 {
    @include flex-grow(12);
  }
}

// 3.0 NAVIGATION
header {
  max-height: 60px;
  overflow: visible;
  padding: 5px;
  .brand {
    @include flex-grow(1);
    @include align-self(center);
  }
  .main-menu {
    min-height: 55px;
    max-width: 240px;
    @include flex-grow(2);
    label {
      padding-top: .3em;
      cursor: pointer;
    }
    ul {
      max-height: 35px;
      overflow: hidden;
    }
    ul, li {
      padding: .7em;
    }
    input {
      display: none;
      &:checked {
        max-height: 300px;
      }
    }
  }
}
