<button type="button" href="#" class="tiny button">Tiny Button</button>
<button type="button" href="#" class="small button">Small Button</button>
<button type="button" href="#" class="button">Regular Button</button>
<button type="button" href="#" class="large button">Large Button</button>
<button type="button" href="#" class="disabled button">Disabled Button</button>
<button type="button" href="#" class="secondary button">Secondary Button</button>
<button type="button" href="#" class="warning button">Warning Button</button>
