<button type="button" href="#" class="upvote button">
  <svg viewBox="0 0 20 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>upvote</title>
      <defs></defs>
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Icon/Light/Chevron-Right" transform="translate(-2.000000, -6.000000)">
              <g id="Shape">
                  <polygon transform="translate(12.000000, 12.000000) scale(1, -1) rotate(90.000000) translate(-12.000000, -12.000000) " points="6 19.65 13.417004 12 6 4.35 8.28340081 2 18 12 8.28340081 22"></polygon>
              </g>
          </g>
      </g>
  </svg>
</button>
