<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

	  <link href="../../css/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />

		<script src="https://use.typekit.net/umm3adq.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
