<div class="switch">
  <div class="toggle">
    <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
    <label class="switch-paddle" for="exampleSwitch">
      <span class="tooltip helper">Show Others Users' Marks</span>
    </label>
  </div>
</div>
