<div>
  <p>In the <a href="{{ url }}">$Working-group-name</a> in the <a href="{{ url }}">$Campaign-name Campaign</a></p>
  <h1>{{ title.short }}</h1>
  <p>{{ excerpt.medium }}</p>
  {{> molecules-tags }}
  {{> molecules-voting-module }}
</div>
