<div class="card">
  <div class="main">
    <small>In the <a href="{{ url }}">$Working-group-name</a> working group.</small>
    <h1 class="heading--title">{{ title.short }}</h1>
    <p>{{ excerpt.medium }}</p>
    {{> molecules-tags }}
  </div>
  <div class="action">
    {{> molecules-voting-module }}
  </div>
</div>
