<div class="card-list">
  <div class="action-bar small-card member-card">
		<figure>{{> atoms-avatar }}</figure>
		<h4><a href="{{ link.template-member-profile }}">{{ name.first }} {{ name.last }}</a></h4>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Message this user</a></li>
          <li><a href="#">Remove this user</a></li>
      </ul>
    </div>
  </div>
</div>
