{{> molecules-primary-nav }}
<main>
	<h1 class="heading--jumbo">Hi {{ name.first }}</h1>
	<div class="row">
		<div class="columns-8">
	    <h2 class="heading--display">Notifications & Recent Activity</h2>
	    <div class="card">
				{{> molecules-activity-stream }}
			</div>
	    <h2 class="heading--display">My Proposals</h2>
	    {{> molecules-proposal-card }}
	    <h2 class="heading--display">My Ideas</h2>
			<div class="card">
				{{> atoms-definition-list-item-idea }}
			</div>
	  </div>
		<div class="columns-4">
	    <h2 class="heading--display">My Ideas</h2>
			<div class="card">
		    {{> atoms-definition-list-item-idea }}
			</div>
	  </div>
	</div>
</main>
