{{> molecules-primary-nav }}
<h1>Hi {{ name.first }}</h1>
<section>
  <h2>Notifications & Recent Activity</h2>
  {{> molecules-activity-stream }}
</section>
<section>
  <h2>My Proposals</h2>
  {{> molecules-proposal-card }}
</seciton>
<section>
  <h2>My Ideas</h2>
</seciton>
<!-- FIXME ADD FOOTER -->
