{{> molecules-primary-nav }}
<main>
	<header>
	  <p class="heading--subheader">Campaign</p>
	  <h1 class="heading--display">Participatory Budgeting Project Ideas - Cycle 4</h1>
	  <p class="heading--title">It's that time again - the City is collecting ideas for the fourth cycle of Participatory Budgeting (PB) in Vallejo. Share your ideas on how you want to use Measure B tax dollars to make Vallejo even better.</p>
	</header>
	<div class="columns-12">
		<h2 class="heading--headline">Campaigns Status</h2>
		<div class="timeline row">
			<div>Proposals</div>
			<div>Deliberation</div>
			<div>Voting</div>
			<div>Implementation</div>
		</div>
	</div>
	<div class="columns-12">
		<h2 class="heading--headline">Proposals</h2>
		<div class="row">
			{{> molecules-proposal-card }}
			{{> molecules-proposal-card }}
			{{> molecules-proposal-card }}
			{{> molecules-proposal-card }}
		</div>
	</div>
	<div>
		<h2 class="heading--headline">Conversations in this {{ type }} (Forum)</h2>
		<div class="panel">
			{{> organisms-comment-thread }}
		</div>
	</div>
</main>
