{{> molecules-primary-nav }}
<main>
	{{> molecules-screen-header-block-campaign }}
	<div class="columns-12">
		<h2 class="heading--headline">Campaigns Status</h2>
		<div class="card">
			FIXME add TIMELINE
		</div>
	</div>
	<div class="columns-12">
		<h2 class="heading--headline">Proposals</h2>
		{{> molecules-proposal-card }}
	</div>
	<div>
		<h2 class="heading--headline">Conversations in this Campaign</h2>
		<div class="card">
			FIXME add conversation module
		</div>
	</div>
</main>
