{{> molecules-primary-nav }}
<main class="overlay-background">
	<section class="modal">
		<section class="panel header">
			{{> atoms-close-button }}
			<div class="card-info">
				<p class="heading--subheader">Proposal</p>
				<h1 class="heading--display">{{ title.short }}</h1>
				<p class="heading--title">{{ excerpt.short }}</p>
				<p>In the <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a> working group.</p>
		    {{> molecules-tags }}
		  </div>
		  <div class="action-bar">
		    <div class="voting-button upvote">
		      <a href="#">+ 8888</a>
		    </div>
		    <div class="voting-button downvote">
		      <a href="#">- 8888</a>
		    </div>
		    <div class="action-button">
		      <input id="menu04" type="checkbox" name="menu" />
		      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		          <title>more</title
		          <defs></defs>
		          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
		              <g id="more">
		                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
		              </g>
		          </g>
		      </svg>
		      <ul class="action-menu">
		          <li><a href="#">Edit</a></li>
		          <li><a href="#">Exclude</a></li>
		          <li><a href="#">Archive</a></li>
		      </ul>
		    </div>
		  </div>
			{{> molecules-idea-timeline }}
		</section>
		<section class="panel text-created-attachments-similar">
			<section class="temp-array proposal-text">
				<h1 class="heading--title">Proposal Text</h1>
				ETHERPAD GOES HERE
			</section>
			<section class="temp-array created-attachments-similar">
				<h1 class="heading--title">Created by</h1>
				{{# listItems.one }}
				{{> molecules-user-card }}
				{{/ listItems.one }}
				<h1 class="heading--title">Attachments <span><a href="#">Add New</a></span></h1>
				{{> molecules-file-card }}
				<h1 class="heading--title">Similar Proposals</h1>
				{{# listItems.three }}
				{{> atoms-definition-list-item }}
				{{/ listItems.three }}
			</section>
		</section>
		<section class="panel conversation-thread" id="prototype-only-anchor-link-for-comment">
			<h1 class="heading--title">Conversations <span><a href="#">Start a conversation</a></span></h1>
			{{> molecules-single-conversation }}
		</section>
		<div class="panel reply-field">
			<h1 class="heading--title">Start a Conversation</h1>
			{{> molecules-comment-form-user }}
		</div>
	</main>
	{{> organisms-footer }}
