{{> molecules-navigation }}
<main>
	<h1 class="heading--jumbo">Hi {{ name.first }}</h1>
		<div>
	    <h2 class="heading--headline">Notifications & Recent Activity</h2>
	    <div class="card">
				{{# listItems.three }}
				{{> molecules-activity-stream }}
				{{/ listItems.three }}
			</div>
	    <h2 class="heading--headline">My Proposals</h2>
	    {{> molecules-proposal-card }}
	    <h2 class="heading--headline">My Ideas</h2>
			<div class="card">
				{{> atoms-definition-list-item }}
			</div>
	</div>
</main>
