{{> molecules-navigation-anonymous }}
<main>
	<h1>Anonymous Homepage</h1>
	{{> molecules-screen-header-block }}
	<div class="row">
		<div class="columns-8">
	    <h2 class="heading--headline">Campaigns and Working Groups</h2>
			<div class="card">
				FIXME add Campaign/WG module
			</div>
	  </div>
		<div class="columns-4">
	    <h2 class="heading--headline">Members</h2>
			<div class="card">
				FIXME add member list
			</div>
	  </div>
	</div>
	<div>
		<h2 class="heading--headline">Conversations in this {{ type }} (Forum)</h2>
		<div class="panel">
			{{> organisms-comment-thread }}
		</div>
	</div>
</main>
