{{> molecules-primary-nav }}
<main>
	<header>
	  <p class="heading--subheader">Campaign</p>
	  <h1 class="heading--display">Participatory Budgeting - Cycle 4</h1>
	  <p class="heading--title">It's that time again - the City is collecting ideas for the fourth cycle of Participatory Budgeting (PB) in Vallejo. Share your ideas on how you want to use Measure B tax dollars to make Vallejo even better.</p>
	</header>
	<div class="panel">
		<h1 class="heading--title">Campaigns Status</h2>
		<div class="timeline">
			<div class="timeline-item inactive">Proposals</div>
			<div class="timeline-item inactive">Deliberation</div>
			<div class="timeline-item active">Voting</div>
			<div class="timeline-item future">Implementation</div>
		</div>
	</div>
	<div class="panel">
		{{> molecules-proposals-panel }}
		{{> molecules-ideas-panel }}
	</div>
	<div class="panel full-panel">
		<div class="panel-head">
			<h1 class="heading--title">5 Conversations in this Campaign <span><a href="#">Add New</a></span></h2>
		</div>
		<div>
			{{> organisms-comment-thread }}
		</div>
	</div>
</main>
