{{> molecules-primary-nav }}
<main>
	{{> molecules-screen-header-block }}
	<div class="row">
		<div class="columns-8">
			<h2 class="heading--headline">Latest Activity</h2>
			<div class="card">
				FIXME add latest activity stream
			</div>
		</div>
		<div class="columns-4">
			<h2 class="heading--headline">Members</h2>
			<div class="card">
				FIXME add member list
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns-8">
			<h2 class="heading--headline">Proposals</h2>
			<div class="card">
				FIXME add latest activity stream
			</div>
		</div>
		<div class="columns-4">
			<h2 class="heading--headline">Ideas</h2>
			<div class="card">
				FIXME add member list
			</div>
		</div>
	</div>
	<div>
		<h2 class="heading--headline">Conversations in this {{ type }} (Forum)</h2>
		<div class="panel">
			{{> organisms-comment-thread }}
		</div>
	</div>
</main>
