{{> molecules-primary-nav }}
<main>
	<section class="modal">
		<div class="row">
			<div class"columns-3">
				{{> molecules-screen-header-block }}
			</div>
			<div class="column-1">
				{{> atoms-close-button }}
				{{> molecules-voting-module }}
			</div>
		</div>
		<div class="row">
			<div class="columns-6">
				<h2 class="heading--headline">Proposal Summary</h2>
				<div class="card">
					We are soliciting engineering solutions, donations, gifts and help from the citizens of Vallejo to help us pay for the restoration of the Mare Island Logo on the Ed Wichels Causeway Bridge. The logo is prominently visible as one travels onto Mare Island from Vallejo, CA.
	Mare Island Naval Shipyard employees and U.S. Navy personnel have a proud tradition of service on Mare Island, and the Mare Island logo mounted over the causeway was a bright, shiny symbol of the future, the state of our jobs and the Navy’s mission to build and repair ships. Sadly, that same logo is fading away, just as the many memories we all had of the greatest and oldest Naval Base and Shipyard on the West Coast.
	Help us preserve the history of Mare Island, and the memory of the employees whose contributions and sacrifice of American labor created the oldest naval shipyard on the west coast of the United States. The 20th anniversary of closing Mare Island was on April 1, 2016.
	We estimate that it will take anywhere from $5 to $25,000 in funds will be required to restore the logo. As a 501(c)(3) non-profit organization, the Mare Island Historic Park Foundation receives no funds from the U.S. Navy, and relies on the generous gifts and contributions of individual donors and corporate sponsors. All gifts are tax deductible and are recognized appropriately.
	We will update our efforts on our websites: www.mareislandlogo.org and www.mareislandlabor.org
				</div>
			</div>
			<div class="columns-6">
				<h2 class="heading--headline">Created by</h2>
				<div class="card">
					{{> atoms-list-item-user-with-menu }}
				</div>
				<h2 class="heading--headline">Similar Proposals</h2>
				<div class="card">
					{{> atoms-unordered-list-item }}
					{{> atoms-unordered-list-item }}
					{{> atoms-unordered-list-item }}
					{{> atoms-unordered-list-item }}
				</div>
				<h2 class="heading--headline">Attachments</h2>
				<div class="card">
					{{> atoms-list-item-with-image }}
				</div>
			</div>
		</div>
		<div>
			<h2 class="heading--headline">Conversations in this {{ type }} (Forum)</h2>
			<div class="panel">
				{{> organisms-comment-thread }}
			</div>
		</div>
	</section>
</main>
