<ul>
	{{# unorderedlist }}
  <li>{{ listitem }}</li>
  <li>{{ listitem }}</li>
  <ul>
    <li>Nested {{ listitem }}</li>
    <li>Nested {{ listitem }}</li>
    <li>Nested {{ listitem }}</li>
  </ul>
  <li>{{ listitem }}</li>
	{{/ unorderedlist }}
</ul>
