<ol>
	{{# orderedlist }}
  <li>{{ listitem }}</li>
  <li>{{ listitem }}</li>
  <ul>
    <li>Nested {{ listitem }}</li>
    <li>Nested {{ listitem }}</li>
    <li>Nested {{ listitem }}</li>
  </ul>
  <li>{{ listitem }}</li>
	{{/ orderedlist }}
</ol>



<ol>
  <li>Cheese (essential)</li>
  <li>Pepperoni</li>
  <li>Bacon
    <ol>
      <li>Normal bacon</li>
      <li>Canadian bacon</li>
    </ol>
  </li>
  <li>Sausage</li>
  <li>Onions</li>
  <li>Mushrooms</li>
</ol>
