</div> <!-- .app-container -->
<footer>
	<p>Created by the Social Apps Lab at <a href="http://citris-uc.org">CITRIS</a>, University of California, Berkeley</p>
	<p>2014-2016 © Regents of the University of California</p>
	<p>In partnership with the MiMove Team at INRIA, France</p>
</footer>
<nav id="small-menu" class="navigation-logged-in">
	<div class="navigation-logged-in small-screen-nav">
		<div class="logo">
	    <h1 class="heading--headline">City of Vallejo
			<span>Participatory Budgeting</span></h1>
			<h3 class="heading--subheader">Powered by Appcivist</h3>
	  </div>
		<a href="#small-nav" class="small-nav-button">
			<svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		      <title>close</title>
		      <defs></defs>
		      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		          <g id="close" transform="translate(-10.000000, -10.000000)">
		              <polygon id="close" transform="translate(21.214286, 20.911240) rotate(45.000000) translate(-21.214286, -20.911240) " points="22.0714286 21.7683828 22.0714286 34.91124 20.3571429 34.91124 20.3571429 21.7683828 7.21428571 21.7683828 7.21428571 20.0540971 20.3571429 20.0540971 20.3571429 6.91123995 22.0714286 6.91123995 22.0714286 20.0540971 35.2142857 20.0540971 35.2142857 21.7683828"></polygon>
		          </g>
		      </g>
		  </svg>
		</a>
	</div>
	<div class="user">
		<div class="member-card">
			<figure>{{> atoms-avatar }}</figure>
			<h4><a href="{{ link.template-member-profile }}">{{ name.first }} {{ name.last }}</a>
			<span class="heading--subheader"><a href="{{ link.templates-member-dashboard }}">My Settings</a> | <a href="{{ link.templates-anonymous-homepage }}">Log Out</a></span></h4>
		</div>
	</div>
	<ul class="submenu submenu-working-groups">
		<h1 class="heading--header">My Working Groups</h1>
		<li>
			<a href="{{ link.templates-single-working-group }}">Sacramento Streetscape Improvement Project</a>
		</li>
		<li>
			<a href="{{ link.templates-single-working-group }}">Five Year Community Development and Affordable Housing Goals</a>
		</li>
	</ul>
	<ul class="submenu submenu-campaigns">
		<h1 class="heading--header">My Campaigns</h1>
		<li>
			<a href="{{ link.templates-single-campaign }}">Submit Participatory Budgeting Project Ideas - Cycle 4</a>
		</li>
	</ul>
</nav>
