<a href="{{ link.templates-blog-article }}" class="b-inner">
  <div class="blog-post-item">
    <h4>{{ dateline }}</h4>
    <h1>{{ headline.short }}</h1>
    <p>{{ excerpt.medium }}</p>
  </div>
</a>
