<h1 class="heading--mega">Mega</h1>
<h2 class="heading--jumbo">Jumbo</h2>
<h3 class="heading--display">Display</h3>
<h4 class="heading--headline">Headline</h4>
<h5 class="heading--title">Title</h5>
<h6 class="heading--subheader">Subheader</h6>
