
<div class="app-container">
	<nav class="navigation-anonymous">
		<div class="logo">
			<h1 class="heading--headline">City of Vallejo
			<span>Participatory Budgeting</span></h1>
			<h3 class="heading--subheader">Powered by Appcivist</h3>
		</div>
		<div class="logo"></div>
		<div class="sign-up">
			<a href="#">Log in</a> or <a href="#">Sign Up</a>
		</div>
	</nav>
</div>
