
<div class="app-container">
	<nav class="navigation-anonymous">
		<div class="logo">
			<h1 class="heading--headline">City of Vallejo
			<span>Vallejo, CA</span></h1>
      <h3 class="heading--subheader">
          <div class="logo-small">
            {{>atoms-logo-svg-white}}
              <strong>Powered by Appcivist</strong>
          </div>
      </h3>
		</div>
		<div class="logo"></div>
		<div class="sign-up">
			<a href="#">Log in</a> or <a href="#">Sign Up</a>
		</div>
	</nav>
</div>
