<header>
	<ul class="row top-nav-menu" id="menu">
	  <li class="columns-8">
	    <div class="logo">Appcivist</div>
	  </li>
	  <li class="columns-3">
	    <input id="check02" type="checkbox" name="menu"/>
	    <label for="check02">User Name</label>
	    <ul class="submenu columns-3">
	      <div>
					<h1>My Working Groups</h1>
					<li>
						<a href="{{ url }}">Working Group 1</a>
					</li>
					<li>
						<a href="{{ url }}">Working Group 2</a>
					</li>
					<li>
						<a href="{{ url }}">Working Group 3</a>
					</li>
					<li>
						<a href="{{ url }}">Working Group 4</a>
					</li>
				</div>
				<div>
					<h1>My Campaigns</h1>
					<li>
						<a href="{{ url }}">Campaign 1</a>
					</li>
					<li>
						<a href="{{ url }}">Campaign 2</a>
					</li>
					<li>
						<a href="{{ url }}">Campaign 3</a>
					</li>
					<li>
						<a href="{{ url }}">Campaign 4</a>
					</li>
				</div>
				<div>
					<h1>My Assemblies</h1>
					<li>
						<a href="{{ url }}">Assembly 1</a>
					</li>
					<li>
						<a href="{{ url }}">Assembly 2</a>
					</li>
				</div>
				<li>
					<a href="{{ url }}">My Settings</a>
				</li>
				<li>
					<a href="{{ url }}">Log Out</a>
				</li>

	    </ul>
	  </li>
	</ul>
</header>
