<header>
	<nav>
		<div>
			<ul class="menu-right">
				<li>
					<a href="{{ url }}">Home</a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="menu-left">
				<li>
					<a href="{{ url }}">Sign in/Log in</a>
				</li>
				{{> atoms-list-item-user-with-menu }}
			</ul>
		</div>
	</nav>
</header>
