<header>
	<ul class="row top-nav-menu" id="menu">
	  <li class="columns-10">
	    <div class="logo">Appcivist</div>
	  </li>
	  <li class="columns-2 user-menu">
			<label>Log In | Sign Up</label>
	  </li>
	</ul>
</header>
