<ul class="menu">
	<li>
		<a href="{{ url }}">Edit</a>
	</li>
	<li>
		<a href="{{ url }}">Delete</a>
	</li>
	<li>
		<a href="{{ url }}">Other</a>
	</li>
	<li>
		<a href="{{ url }}">Actions</a>
	</li>
</ul>
