<ul class="menu">
			<li>
				<a href="{{ url }}">My Account and Profile</a>
			</li>
			<li>
				<a href="{{ url }}">My Working Groups</a>
				<ul>
					<li>
						<a href="{{ url }}">Working Group 1</a>
					</li>
					<li>
						<a href="{{ url }}">Working Group 2</a>
					</li>
					<li>
						<a href="{{ url }}">Working Group 3</a>
					</li>
					<li>
						<a href="{{ url }}">Working Group 4</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{{ url }}">My Campaigns</a>
				<ul>
					<li>
						<a href="{{ url }}">Campaign 1</a>
					</li>
					<li>
						<a href="{{ url }}">Campaign 2</a>
					</li>
					<li>
						<a href="{{ url }}">Campaign 3</a>
					</li>
					<li>
						<a href="{{ url }}">Campaign 4</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{{ url }}">My Assemblies</a>
				<ul>
					<li>
						<a href="{{ url }}">Assembly 1</a>
					</li>
					<li>
						<a href="{{ url }}">Assembly 2</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{{ url }}">My Settings</a>
			</li>
			<li>
				<a href="{{ url }}">Log Out</a>
			</li>
		</ul>
