<ul class="submenu">
	<div>
		<h1>My Working Groups</h1>
		<li>
			<a href="{{ link.templates-single-working-group }}">Working Group 1</a>
		</li>
		<li>
			<a href="{{ link.templates-single-working-group }}">Working Group 2</a>
		</li>
	</div>
	<div>
		<h1>My Campaigns</h1>
		<li>
			<a href="{{ link.templates-single-campaign }}">Campaign 1</a>
		</li>
	</div>
	<div>
		<h1>My Assemblies</h1>
		<li>
			<a href="{{ link.templates-single-assembly }}">Assembly 1</a>
		</li>
	</div>
	<li>
		<a href="{{ url }}">My Settings</a>
	</li>
	<li>
		<a href="{{ url }}">Log Out</a>
	</li>

</ul>
