<ul class="breadcrumbs">
	<li><a href="{{ url }}">AppCivist Instance</a></li>
	<li><a href="{{ url }}">Assembly</a></li>
	<li><a href="{{ url }}">Campaign</a></li>
	<li><a href="{{ url }}">Working Group</a></li>
	<li><a href="{{ url }}">Proposal</a></li>
</ul>
