<li class="panel comment-container">
	<div class="comment-meta">
		<h2 class="comment-timestamp heading--subheader-small">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></h2>
		{{> atoms-avatar }}
		<h4 class="comment-name"><a href="#">{{ name.first }} {{ name.last }}</a></h4>
	</div>
	<div class="comment-voting">
		{{> molecules-voting-module }}
	</div>
	<div class="comment-text">
		<h1 class="heading--title">Comment Subject</h1>
		<p>{{ description }}</p>
	</div>
	<div class="comment-reply-controls">
		<a class="heading--subheader reply-count">2 Replies</a>
		<button class="small button reply">Reply</button>
	</div>
</li>
