	<div class="timeline">
		<div class="timeline-item inactive"><div class="marker"></div>Ideation</div>
		<div class="timeline-item active"><div class="marker"></div>Deliberation</div>
		<div class="timeline-item future"><div class="marker"></div>Voting</div>
		<div class="timeline-item future"><div class="marker"></div>Implementation</div>
	</div>
