<div class="voting-buttons">
	<div class="vote-button upvote">
		<a class="heading--small" href="#">
      <i class="fa fa-thumbs-up"></i>
    </a>
	</div>
  <div class="vote-button middle">
      <a class="heading--small" href="#">
          <i class="fa fa-circle-o"></i>
      </a>
  </div>
  <div class="vote-button middle">
      <a class="heading--small" href="#">
          <i class="fa fa-ban"></i>
      </a>
  </div>
	<div class="vote-button downvote">
		<a class="heading--small" href="#">
        <i class="fa fa-thumbs-down"></i>
    </a>
	</div>
</div>
