<div class="voting-buttons">
	<div class="vote-button upvote">
		<a class="heading--small" href="#">
      <i class="fa fa-chevron-up"></i>
    </a>
	</div>
	<div class="vote-button downvote">
		<a class="heading--small" href="#">
        <i class="fa fa-chevron-down"></i>
    </a>
	</div>
</div>
