<div class="voting-buttons">
	<div class="vote-button upvote">
		<a class="heading--small" href="#">+888</a>
	</div>
	<div class="vote-button downvote">
		<a class="heading--small" href="#">-888</a>
	</div>
</div>
