<dl class="member-card">
	<figure>
		{{> atoms-avatar }}
	</figure>
	<div class="user-name">
		<h4><a href="{{ link.template-member-profile }}">{{ name.first }} {{ name.last }}</a></h4>
	</div>
	{{> atoms-more-menu-button }}
</dl>
