<dl>
	<dt class="heading--subheader-small">On {{ dayofweek.long }}, {{ day.short }} of {{ month.long }} {{ year.long }}</dt>
	<dd>{{ name.first }} {{ name.last }} commented on <a href="{{ link.templates-single-proposal }}">{{ title.short }}</a></dd>
</dl>
