<dl class="activity-stream-item">
	<dt class="heading--subheader">On {{ dayofweek.long }}, {{ day.short }} of {{ month.long }} {{ year.long }}</dt>
	<dd class="heading--small">{{ name.first }} {{ name.last }} commented on <a href="{{ link.templates-single-proposal }}">{{ title.short }}</a></dd>
</dl>
