<header>
  <p class="heading--subheader">{{ assembly.name }}</p>
  <h1 class="heading--display">{{ campaign.name }}</h1>
  <p heading--headline>{{ campaign.description }}</p>
  <p>In the <a href="{{ url }}" class="b-inner">$Working-group-name</a> in the <a href="{{ url }}" class="b-inner">$Campaign-name Campaign</a></p>
  {{> molecules-tags }}
</header>
