<header>
  <p class="heading--subheader">{{ assembly.name }} / {{ campaign.name }}</p>
  <h1 class="heading--display">{{ group.name }}</h1>
  <p heading--headline>{{ group.description }}</p>
  <p>In the <a href="{{ url }}" class="b-inner">{{ assembly.name }}</a> in the <a href="{{ url }}" class="b-inner">{{campaign.name}} Campaign</a></p>
  {{> molecules-tags }}
</header>
