<div class="half-panel">
  <div class="panel-head">
    <h1 class="heading--title">Proposals <span><a href="#">Add New</a> | <a href="#">See All</a></span></h2>
  </div>
  <div>
    {{# listItems.four }}
    {{> molecules-proposal-card }}
    {{/ listItems.four }}
  </div>
</div>
