<div class="half-panel">
  <div class="panel-head">
    <h1 class="heading--title">Ideas <span><a href="#">Add New</a> | <a href="#">See All</a></span></h2>
  </div>
  <div>
    {{# listItems.six }}
    {{> molecules-idea-card }}
    {{/ listItems.six }}
  </div>
</div>
