<a href="{{ link.templates-blog-article }}" class="b-inner">
  <div class="blog-post-item blog-post-item-featured">
    <h4>{{ dateline }}</h4>
    <h1>{{ headline.short }}</h1>
    <div class="row">
      <div class="small-4">
        {{> atoms-square }}
      </div>
      <div class="small-8">
        <p>{{ excerpt.medium }}</p>
      </div>
    </div>
  </div>
</a>
