<ul class="sg-colors">
	<li>
		<span class="sg-swatch brand-color--base"></span>
		<span class="sg-label">Text</span>
	</li>
	<li>
		<span class="sg-swatch brand-color--highlight"></span>
		<span class="sg-label">Links</span>
	</li>
	<li>
		<span class="sg-swatch brand-color--highlight--focus"></span>
		<span class="sg-label">Focus</span>
	</li>
</ul>