<ul class="sg-colors">
	<li>
		<span class="sg-swatch color__brand-primary"></span>
		<span>Primary</span>
	</li>
	<li>
		<span class="sg-swatch color__brand-primary--light"></span>
		<span>Primary Light</span>
	</li>
	<li>
		<span class="sg-swatch color__brand-primary--dark"></span>
		<span>Primary Dark</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color__brand-accent"></span>
		<span>Accent</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color__text--primary"></span>
		<span>Text</span>
	</li>
	<li>
		<span class="sg-swatch color__text--secondary"></span>
		<span>Secondary Text</span>
	</li>
</ul>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch color__borders--primary"></span>
        <span>Primary Borders</span>
    </li>
    <li>
        <span class="sg-swatch color__borders"></span>
        <span>Light Borders</span>
    </li>
    <li>
        <span class="sg-swatch color__borders--dark"></span>
        <span>Dark Borders</span>
    </li>
    <li>
        <span class="sg-swatch color__borders--accent"></span>
        <span>Accent Borders</span>
    </li>
</ul>
