<p>The typeface for the Appcivist UI is Open Sans. If the webfont is unavailable, and the user does not have Open Sans, we 're falling back to using system fonts. So if you're on a modern Mac or iOS device, you'll see San Francisco; if you're on Android you'll see Roboto; on Windows it's Segoe, etc.</p>
